$white-smoke: #f8f6f2;
$seoul-white: #f7f6f1;
$marshmallow: #ebe6e0;
$dark-gray: rgba(#1e2326, 0.75);
$deap-sea: rgba(#24326a, 0.75);
$clear-sky: rgba(#bfd0e2, 0.75);
$the-orange: rgba(#ec8562, 0.75);
$peach: #f8e6d8;
$appricot: #f5d7bf;

$outter-center-box-width: 1920;
$center-box-width: 1720;

$mobile-view: 768;
$mobile-view-constant: 2.5;
