@function encodecolor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

@function rem($number){
	@return unquote(calc($number/10)+'rem');
}

@mixin media-max($width){
	@media only screen and (max-width: #{$width}px) { @content; }
}
@mixin media-min($width){
	@media only screen and (min-width: #{$width}px) { @content; }
}

@mixin browseropt($element, $value){
	-webkit-#{$element}: $value;
	-moz-#{$element}: $value;
	-ms-#{$element}: $value;
	-o-#{$element}: $value;
	#{$element}: $value;
}

@mixin placeholder{
	&::-webkit-input-placeholder { @content }
	&:-moz-placeholder 			 { @content }
	&::-moz-placeholder 		 { @content }
	&:-ms-placeholder 			 { @content }
}

%center-container{
  width: rem($center-box-width);
  margin: 0 auto;
  @include browseropt(box-sizing, border-box);
  position: relative;
}

%outter-center-container{
	width: rem($outter-center-box-width);
  margin: 0 auto;
  @include browseropt(box-sizing, border-box);
  position: relative;
}

%title{
	font-family: "Fredericka the Great", cursive;
	font-size: rem(120);
	line-height: rem(137);
	letter-spacing: rem(10);
	font-weight: 400;
	margin: 0;
	@include media-max($mobile-view){
		@media (orientation: portrait) {
			font-size: rem($mobile-view-constant * 120);
			line-height: rem($mobile-view-constant * 137);
			letter-spacing: rem($mobile-view-constant * 10);
		}
	}
}