@font-face {
  font-family: "Fredericka the Great";
  src: url("/assets/fonts/FrederickatheGreat/FrederickatheGreat-Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/FrederickatheGreat/FrederickatheGreat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/assets/fonts/FrederickatheGreat/FrederickatheGreat-Regular.otf") format("opentype"), /* Open Type Font */
       url("/assets/fonts/FrederickatheGreat/FrederickatheGreat-Regular.svg") format("svg"), /* Legacy iOS */
       url("/assets/fonts/FrederickatheGreat/FrederickatheGreat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("/assets/fonts/FrederickatheGreat/FrederickatheGreat-Regular.woff") format("woff"), /* Modern Browsers */
       url("/assets/fonts/FrederickatheGreat/FrederickatheGreat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}