@import './../../../scss/_global.scss';

section[rbIntroduction]{
  height: rem(1080);
  .core{
    height: rem(750);
    background-color: $white-smoke;
    .center-container{
      height: 100%;
      .logo-container{
        width: rem(38);
        height: rem(38);
        border: rem(4) solid $dark-gray;
        background-image: url(/assets/images/logo.svg);
        background-size: rem(32) rem(32);
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: rem(32);
        left: rem(calc(75/2) - calc(42/2));
        z-index: 5;
      }
      .general-data-container{
        position: absolute;
        left: 0;
        top: rem(232);
        .role{
          font-size: rem(30);
          line-height: rem(36);
          letter-spacing: rem(2.5);
        }
        .name{
          padding-top: rem(40);
          box-sizing: border-box;
          @extend %title;
        }
        z-index: 4;
      }
      .profile-container{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: rem(1336);
        z-index: 1;
        top: rem(-368);
        left: calc(50% - #{rem(700)});
        .st0{
          fill: $clear-sky;
        }
        .st1{
          fill: $the-orange;
        }
        .st2{
          fill: $deap-sea;
        }
      }
      .brief-container{
        position: absolute;
        width: rem(350);
        top: rem(312);
        right: 0;
        z-index: 3;
        .brief{
          font-size: rem(20);
          line-height: rem(30);
          letter-spacing: rem(1.2);
          font-weight: 600;
        }
        .social-list{
          list-style-type: none;
          display: flex;
          margin-top: rem(25);
          > li{
            display: block;
            height: rem(30);
            width: rem(30);
            margin-right: rem(20);
            will-change: transform;
            cursor: pointer;
            transition: transform 300ms ease;
            @media(pointer: fine){
              &:hover{
                transform: scale(1.2);
              }
            }
            > a{
              display: block;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: auto;
              text-decoration: none;
              outline: 0;
            }
          }
        }
      }
    }
  }
  .footer-info{
    padding-left: rem(75);
    padding-right: rem(75);
    padding-top: rem(200);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .footer-column{
      display: flex;
      flex-direction: column;
      .introduction-footer-title, .introduction-footer-info{
        font-size: rem(25);
        letter-spacing: rem(1.2);
        margin-bottom: rem(5);
        &.footer-center{
          align-self: center;
        }
        &.footer-right{
          align-self: flex-end;
        }
      }
      .introduction-footer-info{
        font-weight: 900;
      }
    }
  }
}

@import './introduction.component.mobile.scss';