<div class="core">
  <div class="center-container">
    <div class="logo-container"></div>
    <div class="general-data-container">
      <div class="role">{{applicant.role}}</div>
      <div class="name">
        <div class="first-name">{{applicant.firstName}}</div>
        <div class="last-name">{{applicant.lastName}}</div>
      </div>
    </div>
    <svg class="profile-container" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1350 1250" style="enable-background:new 0 0 1350 1250;" xml:space="preserve">
      <g>
        <path id="blue-circle" class="st0" d="M56.5,1251.8c0-355.5,288.2-643.7,643.7-643.7s643.7,288.2,643.7,643.7H56.5z" />
        <path class="st1" d="M240.5,792.1c0,253.9,205.8,459.7,459.7,459.7s459.7-205.8,459.7-459.7H240.5z"/>
        <rect id="top-rect" x="829.6" y="-250" class="st2" width="234.7" height="595.3">
          <animate 
            xlink:href="#top-rect"
            attributeName="y"
            from="-250"
            to="541.8" 
            dur="1s"
            values="-250; 300; 541.8"
            keyTimes="0; 0.45; 1"
            keySplines="
              .42 0 1 1;
              0 0 .59 1;
              .42 0 1 1;"
            begin="500ms"
            fill="freeze" 
          />
        </rect>
        <rect id="left-rect" x="6.1" y="1060.6" class="st2" width="0" height="153">
          <animate 
            xlink:href="#left-rect"
            attributeName="width"
            from="0"
            to="400.5" 
            dur="1s"
            values="0; 250; 400.5"
            keyTimes="0; 0.45; 1"
            keySplines="
              .42 0 1 1;
              0 0 .59 1;
              .42 0 1 1;"
            begin="500ms"
            fill="freeze" 
          />
        </rect>
        <g>
          <defs>
            <path id="SVGID_1_" d="M240.5-1.8v794c0,253.9,205.8,459.7,459.7,459.7s459.7-205.8,459.7-459.7v-794H240.5z"/>
          </defs>
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_2_);">
            <image style="overflow:visible;" width="2371" height="3834" [attr.xlink:href]="applicant.profilePicture"  transform="matrix(0.2275 0 0 0.2275 430.5114 407.6664)">
            </image>
          </g>
        </g>
      </g>
      </svg>
    <div class="brief-container">
      <div class="brief">{{applicant.brief}}</div>
      <ul class="social-list">
        <li *ngFor="let socialEndpoint of applicant.socials">
          <a [attr.href]="socialEndpoint.link" [style.background-image]="'url('+socialEndpoint.icon+')'" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="center-container">
  <div class="footer-info">
    <div class="footer-column">
      <span class="introduction-footer-title footer-left">Born in</span>
      <span class="introduction-footer-info footer-left">{{applicant.from}}</span>
    </div>
    <div class="footer-column">
      <span class="introduction-footer-title footer-center">Experience</span>
      <span class="introduction-footer-info footer-center">{{applicant.experienceInYears}} Years</span>
    </div>
    <div class="footer-column">
      <span class="introduction-footer-title footer-right">Date of Birth</span>
      <span class="introduction-footer-info footer-right">{{applicant.birth}}</span>
    </div>
  </div>
</div>