@import './../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait) {
    section[rbIntroduction]{
      height: 125vh;
      .core{
        height: calc(100vh);
        overflow: hidden;
        background-color: transparent;
        .center-container{
          .logo-container{
            display: none;
          }
          .general-data-container{
            top: rem(150);
            z-index: 1;
            .role{
              font-size: rem(30 * $mobile-view-constant);
              line-height: rem(36 * $mobile-view-constant);
              letter-spacing: rem($mobile-view-constant * $mobile-view-constant);
            }
            .name{
              padding-top: rem(40);
              box-sizing: border-box;
              @extend %title;
            }
          }
          .profile-container{
            width: 200vw;
            left: -75vw;
            top: unset;
            bottom: rem(250);
            overflow: hidden;
            position: absolute;
            z-index: 2;
            .st2{
              fill: $clear-sky;
            }
          }
          .brief-container{
            top: 30vh;
            width: 45vw;
            .brief{
              font-size: calc(1vh + #{rem(15)});
              line-height: rem($mobile-view-constant*30);
              letter-spacing: rem($mobile-view-constant*1.2);
              font-weight: 600;
            }
            .social-list{
              position: absolute;
              top: calc(70vh - #{rem(250)});
              z-index: 5;
              width: 100vw;
              transform: translate(-50%, 0%);
              justify-content: space-around;
              align-items: center;
              height: rem(250);
              margin-top: 0;
              > li{
                height: rem(180);
                width: rem(180);
                margin-right: 0;
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .footer-info{
        padding-top: 5vh;
        flex-direction: column;
        .footer-column {
          .introduction-footer-title, .introduction-footer-info{
            font-size: rem(($mobile-view-constant+1)*25);
            letter-spacing: rem(($mobile-view-constant+1)*1.2);
            margin-bottom: rem(($mobile-view-constant+1)*5);
            &.footer-center{
              align-self: flex-end;
            }
            &.footer-right{
              align-self: flex-start;
            }
          }
        }
      }
    }
  }
}