@import './../../../../scss/_global.scss';

rb-landing{
  display: block;
  background-color: $seoul-white;
  position: relative;
  @include media-min($outter-center-box-width + 500){
    width: rem($outter-center-box-width);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/images/landing/background-paper.jpg);
    background-position: top left;
    background-size: 100vw auto;
    opacity: 0.15;
  }
  .marshmallow-background{
    position: absolute;
    background-color: $marshmallow;
    height: rem(1080 + 1080 + 100);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }
  .sections{
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

@import './landing.component.mobile.scss';