<div class="marshmallow-background"></div>
<div class="sections">
  <section rbIntroduction class="introduction" 
    [data]="applicant"
  ></section>
  <section rbAboutme class="about-me" 
    [data]="applicant.aboutMe"
    (viewResume)="onViewResume($event)"
  ></section>
  <section rbResume class="resume"
    [data]="applicant.resume"
  ></section>
</div>