@import './../../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait) {
    rb-landing{
      margin-left: auto;
      margin-right: auto;
      .marshmallow-background{
        height: calc((100vh - (100vh - #{rem(250)})) + 100vh);
        top: calc(100vh - #{rem(500)});
      }
    }
  }
}