@import './../../../scss/_global.scss';

section[rbAboutme]{
  height: rem(1080 + 100);
  padding-top: rem(120);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  .center-container{
    padding-left: rem(75);
    padding-right: rem(75);
    .about-me-title{
      @extend %title;
    }
    .about-me-content{
      padding-top: rem(80);
      box-sizing: border-box;
      padding-left: rem(35);
      padding-right: rem(35);
      position: relative;
      z-index: 5;
      .about-me-para{
        font-size: rem(20);
        letter-spacing: rem(1.2);
        line-height: rem(30);
        margin-bottom: rem(55);
        &.important{
          font-size: rem(22);
          font-weight: 700;
          position: relative;
          z-index: 5;
        }
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        background-color: $clear-sky;
        width: rem(360);
        height: rem(42);
        top: rem(80 - 16);
        left: rem(20);
        z-index: 1;
      }
    }
    .view-resume{
      margin: rem(80) auto;
      display: block;
      position: relative;
      .signo{
        position: absolute;
        width: rem(300);
        height: rem(100);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        right: rem(-500);
        top: calc(#{rem(4)} - #{rem(15)});
        pointer-events: none;
      }
    }
  }
  .left-rect{
    position: absolute;
    width: rem(450);
    height: rem(170);
    bottom: rem(60);
    left: rem(-60);
    background-color: $deap-sea;
    will-change: transform;
    z-index: 1;
  }
  .right-rect{
    position: absolute;
    width: rem(175);
    height: rem(455);
    bottom: rem(200);
    right: rem(0);
    background-color: $deap-sea;
    will-change: transform;
    z-index: 1;
  }
  .orange-circle{
    $size: 120;
    position: absolute;
    height: rem(2*$size);
    width: rem($size);
    bottom: rem(305);
    right: rem(320);
    background-color: $the-orange;
    border-bottom-right-radius: rem(2*$size);
    border-top-right-radius: rem(2*$size);
    z-index: 1;
  }
  .blue-circle{
    $size: 125;
    position: absolute;
    height: rem($size);
    width: rem(2*$size);
    bottom: rem(50);
    right: rem(320-125-5);
    background-color: $clear-sky;
    border-bottom-left-radius: rem(2*$size);
    border-bottom-right-radius: rem(2*$size);
    z-index: 1;
  }
}

@import './aboutme.component.mobile.scss';