@import './../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait){
    section[rbAboutme]{
      height: unset;
      .center-container{
        padding-top: 7.5vh;
        .about-me-content{
          padding-top: 5vh;
          padding-bottom: 7.5vh;
          .about-me-para{
            font-size: rem(($mobile-view-constant+1)*20);
            letter-spacing: rem(($mobile-view-constant+1)*1.2);
            line-height: rem(($mobile-view-constant+1)*30);
            &.important{
              font-size: rem(($mobile-view-constant+1)*22);
            }
          }
          &:before{
            display: none;
          }
        }
        .view-resume{
          display: none;
        }
      }
      .left-rect{
        display: none;
      }
      .right-rect{
        display: none;
      }
      .orange-circle{
        $size: $mobile-view-constant*120;
        height: rem(2*$size);
        width: rem($size);
        border-bottom-right-radius: rem(2*$size);
        border-top-right-radius: rem(2*$size);
      }
      .blue-circle{
        $size: $mobile-view-constant*$mobile-view-constant*125;
        position: absolute;
        height: rem($size);
        width: rem(2*$size);
        left: -15vh;
        top: 50vh;
        border-bottom-left-radius: rem(2*$size);
        border-bottom-right-radius: rem(2*$size);
      }
    }
  }
}