<div class="center-container">
  <h1 class="about-me-title" rbScrollDraw>About Me</h1>
  <div class="about-me-content">
    <p class="about-me-para important" rbScrollDraw>{{aboutMe.brief}}</p>
    <p class="about-me-para" rbScrollDraw>{{aboutMe.career}}</p>
    <p class="about-me-para" rbScrollDraw>{{aboutMe.me}}</p>
    <p class="about-me-para" rbScrollDraw>{{aboutMe.aim}}</p>
  </div>
  <button rbScrollDraw rbButton class="view-resume" (click)="onViewResume($event)">
    <span>View Resume</span>
    <div class="signo" [style.background-image]="'url('+aboutMe.signo+')'"></div>
  </button>
</div>
<div class="left-rect" rbScrollDraw [from]="{'transform': 'translate(-100%, 0%)'}" [to]="{'transform': 'translate(0%, 0%)'}"></div>
<div class="right-rect" rbScrollDraw [from]="{'transform': 'translate(100%, 0%)'}" [to]="{'transform': 'translate(0%, 0%)'}"></div>
<div class="orange-circle" rbScrollDraw rbParallax></div>
<div class="blue-circle" rbScrollDraw rbParallax></div>
