@import './../scss/_global.scss';

rb-root{
  display: block;
  position: relative;
  .outlet{
    position: relative;
    z-index: 5;
  }
  .top-background{
    position: absolute;
    z-index: 1;
    background-color: $peach;
    top: 0;
    left: 0;
    right: 0;
    height: rem(1150);
  }
}