@import './../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait){
    rb-detail-block{
      padding-bottom: 5vh;
      .detail-title{
        font-size: rem(($mobile-view-constant+1)*40);
        letter-spacing: rem(($mobile-view-constant+1)*5.0);
        margin-bottom: 3vh;
      }
    }
  }
}