@import './../../../scss/_global.scss';

rb-detail-block{
  display: block;
  box-sizing: border-box;
  padding-bottom: rem(100);
  &:last-child{
    padding-bottom: 0;
  }
  .detail-title{
    font-size: rem(40);
    font-weight: 700;
    letter-spacing: rem(5.0);
    margin-bottom: rem(60);
    text-transform: uppercase;
  }
}

@import './detail-block.component.mobile.scss';
