@import './../../../scss/_global.scss';

*[rbButton]{
  @include browseropt(box-sizing, border-box);
	@include browseropt(user-select, none);
	-webkit-touch-callout: none;
	display: inline-block;
	cursor: pointer;
  outline: 0;
  background-color: transparent;
  position: relative;
  border: 0;
  -webkit-appearance: button;
  .button-display{
    display: flex;
    min-width: rem(270);
    min-height: rem(70);
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
    font-size: rem(24);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    letter-spacing: rem(1.2);
    border: rem(4) solid $dark-gray;
  }
  &:before{
    $size: 110;
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    background-color: $the-orange;
    width: rem($size*2);
    height: rem($size);
    border-bottom-left-radius: rem(2*$size);
    border-bottom-right-radius: rem(2*$size);
    left: rem(-30);
    top: rem(7.5);
    will-change: left, transform;
    transition: left 500ms ease, transform 500ms ease;
    pointer-events: none;
  }
  @media(pointer: fine){
    &:hover{
      &:before{
        left: rem(200);
        transform: scale(0.8);
      }
    }
  }
  &.inverse{
    &:before{
      left: unset;
      top: rem(20);
      right: rem(-60);
      will-change: right, transform;
      transition: right 500ms ease, transform 500ms ease;
    }
    @media(pointer: fine){
      &:hover{
        &:before{
          right: rem(210);
          transform: scale(1.2);
        }
      }
    }
  }
}

@import './button.component.mobile.scss';