@import './../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait){
    *[rbButton]{
      .button-display{
        min-width: 40vw;
        min-height: 7.5vh;
        font-size: rem(($mobile-view-constant+1)*24);
        letter-spacing: rem($mobile-view-constant*1.2);
        border: rem($mobile-view-constant*$mobile-view-constant*4) solid $dark-gray;
      }
      &:before{
        $size: $mobile-view-constant*110;
        width: rem($size*2);
        height: rem($size);
        border-bottom-left-radius: rem(2*$size);
        border-bottom-right-radius: rem(2*$size);
        left: -5vw;
        top: 3vh;
      }
      &.inverse{
        &:before{
          left: unset;
          top: 2vh;
          right: -6vw;
        }
      }
    }
  }
}