@import './../../../scss/_global.scss';

rb-job{
  display: block;
  padding-bottom: rem(110);
  padding-left: rem(100);
  box-sizing: border-box;
  position: relative;
  &:first-child{
    .period-container:before{
      content: '';
      display: block;
      width: rem(370);
      height: rem(74);
      position: absolute;
      left: rem(-55);
      top: rem(-10);
      background-color: $clear-sky;
      z-index: 1;
    }
  }
  .job-title{
    font-size: rem(40);
    letter-spacing: rem(5.0);
    margin-bottom: rem(30);
    text-transform: uppercase;
  }
  .job-description{
    font-size: rem(20);
    letter-spacing: rem(1.2);
    margin-bottom: rem(25);
  }
  .milestone-list{
    list-style-type: none;
    display: block;
    > li{
      font-size: rem(20);
      letter-spacing: rem(1.2);
      margin-bottom: rem(18);
      display: block;
      padding-left: rem(75);
      box-sizing: border-box;
      background-image: url(/assets/images/landing/dot.svg);
      background-size: rem(10) rem(10);
      background-position: left rem(50) center;
      background-repeat: no-repeat;
    }
  }
  .job-circle{
    width: rem(25);
    height: rem(25);
    position: absolute;
    left: rem(-12.5);
    top: rem(20 - (20 - 12.5));
    background-color: $dark-gray;
    border-radius: 50%;
  }
  .period-container{
    position: absolute;
    width: rem(350);
    padding-right: rem(100);
    left: rem(-100-350);
    top: rem(0);
    .job-period{
      font-size: rem(24);
      letter-spacing: rem(1.2);
      margin-bottom: rem(10);
      position: relative;
      z-index: 5;
    }
    .job-position{
      font-size: rem(24);
      letter-spacing: rem(1.2);
      font-weight: 700;
      margin-bottom: rem(10);
      position: relative;
      z-index: 5;
    }
  }
}

@import './job.component.mobile.scss';