@import './../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait){
    rb-job{
      padding-bottom: 5vh;
      padding-left: 0;
      padding-top: 17.5vh;
      &:first-child{
        .period-container:before{
          width: ($mobile-view-constant - 1)*37.0vw;
          height: 7.4vh;
        }
      }
      .job-title{
        font-size: rem(($mobile-view-constant+1)*40);
        letter-spacing: rem(($mobile-view-constant+1)*5.0);
        margin-bottom: rem(($mobile-view-constant+1)*30);
      }
      .job-description{
        font-size: rem(($mobile-view-constant+1)*20);
        letter-spacing: rem(($mobile-view-constant+1)*1.2);
        margin-bottom: rem(($mobile-view-constant+1)*25);
      }
      .milestone-list > li{
        font-size: rem(($mobile-view-constant+1)*20);
        letter-spacing: rem(($mobile-view-constant+1)*1.2);
        margin-bottom: rem(($mobile-view-constant+1)*18);
        background-image: none;
      }
      .job-circle{
        display: none;
      }
      .period-container{
        padding-right: 0;
        left: 0;
        top: 5vh;
        width: 100%;
        .job-period{
          font-size: rem(($mobile-view-constant+1)*24);
          letter-spacing: rem(($mobile-view-constant+1)*1.2);
          margin-bottom: 1vh;
        }
        .job-position{
          font-size: rem(($mobile-view-constant+1)*24);
          letter-spacing: rem(($mobile-view-constant+1)*1.2);
        }
      }
    }
  }
}