<h3 class="job-title">{{job.company}}</h3>
<p class="job-description">{{job.description}}</p>
<ul class="milestone-list">
  <li *ngFor="let milestone of job.milestones">{{milestone}}</li>
</ul>
<div class="job-circle"></div>
<div class="period-container">
  <div class="job-period">{{job.period}}</div>
  <div class="job-position">{{job.position}}</div>
</div>