@import './scss/_global.scss';
@import './scss/_files/_03-normalize.scss';
@import './scss/_files/_04-main.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
}

html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: $dark-gray;
	background-color: $appricot;
	@include media-max($outter-center-box-width){
		font-size: calc(100vw / #{$outter-center-box-width} * 10);
	}
}

body{
  font-size: rem(12);
	overflow-anchor: none;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: $appricot;
}

.body-container{
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $appricot;
}

.center-container{
	@extend %center-container;
}
