<div class="experience-section">
  <div class="center-container">
    <h1 class="experience-section-title" rbScrollDraw><span>My </span>Resume</h1>
    <div class="experience-container">
      <div class="experience">
        <div class="experience-spacer" rbScrollDraw>
          <h2 class="experience-title">EXPERIENCE</h2>
        </div>
        <div class="experience-content">
          <ng-container *ngFor="let job of resume.experience.jobs; let i=index">
            <rb-job rbScrollDraw *ngIf="i<resume.experience.limit || showAll"
              [data]="job"
            ></rb-job>
          </ng-container>
        </div>
        <div class="experience-history-line" rbScrollDraw></div>
      </div>
      <button rbButton rbScrollDraw class="show-all inverse" *ngIf="!showAll"
        (click)="onShowAllExperience($event)"
      >Show All</button>
    </div>
  </div>
  <div class="top-rect" rbScrollDraw rbParallax></div>
  <div class="right-rect" rbScrollDraw [from]="{'transform': 'translate(100%, 0%)'}" [to]="{'transform': 'translate(0%, 0%)'}"></div>
  <div class="left-rect" rbScrollDraw [from]="{'transform': 'translate(-100%, 0%)'}" [to]="{'transform': 'translate(0%, 0%)'}"></div>
  <div class="circle" rbScrollDraw rbParallax></div>
</div>
<div class="details-section">
  <div class="center-container">
    <div class="details-container">
      <div class="details-left">
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>EXPERTISE</h3>
          <div class="detail-group">
            <ul class="details-group-list">
              <li class="bold-line" *ngFor="let expertise of resume.expertise" [ngClass]="{'full-stack': expertise=='Fullstack Web Development'}"><span rbScrollDraw>{{expertise}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>EDUCATION</h3>
          <div class="detail-group" *ngFor="let education of resume.education">
            <ul class="details-group-list">
              <li class="default-line"><span rbScrollDraw>{{education.period}}</span></li>
            </ul>
            <ul class="details-group-list">
              <li class="bold-line" [ngClass]="{'bsc': education.degree=='Bachelor’s degree in Software Engineering'}"><span rbScrollDraw>{{education.degree}}</span></li>
            </ul>
            <ul class="details-group-list">
              <li class="minor-line"><span rbScrollDraw>{{education.school}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>COURSES</h3>
          <div class="detail-group" *ngFor="let course of resume.courses">
            <ul class="details-group-list">
              <li class="default-line"><span rbScrollDraw>{{course.year}}</span></li>
            </ul>
            <ul class="details-group-list">
              <li class="bold-line" *ngFor="let title of course.titles" [ngClass]="{'clean-code': title=='Clean Code'}"><span rbScrollDraw>{{title}}</span></li>
            </ul>
            <ul class="details-group-list">
              <li class="minor-line"><span rbScrollDraw>{{course.placeof}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>AWARDS</h3>
          <div class="detail-group" *ngFor="let award of resume.awards">
            <ul class="details-group-list">
              <li class="default-line"><span rbScrollDraw>{{award.year}}</span></li>
            </ul>
            <ul class="details-group-list">
              <li class="bold-line" [ngClass]="{'grid': award.title=='Graphisoft Innovation Day 5th place'}"><span rbScrollDraw>{{award.title}}</span></li>
            </ul>
            <ul class="details-group-list">
              <li class="minor-line"><span rbScrollDraw>{{award.description}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>LANGUAGES</h3>
          <div class="detail-group" *ngFor="let language of resume.languages">
            <ul class="details-group-list">
              <li class="bold-line"><span rbScrollDraw>{{language.name}}</span></li>
              <li class="minor-line"><span rbScrollDraw>{{language.level}}</span></li>
              <li class="minor-line" *ngIf="language.placeof"><span rbScrollDraw>{{language.placeof}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>PERSONALITY</h3>
          <div class="detail-group">
            <ul class="details-group-list">
              <li class="bold-line"><span rbScrollDraw>{{resume.personality.code}}</span></li>
              <li class="minor-line"><span rbScrollDraw>{{resume.personality.placeof}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>LICENCES</h3>
          <div class="detail-group">
            <ul class="details-group-list">
              <li class="bold-line" *ngFor="let license of resume.licences"><span rbScrollDraw>{{license}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>HOBBIES</h3>
          <div class="detail-group">
            <ul class="details-group-list">
              <li class="bold-line" *ngFor="let hobbie of resume.hobbies"><span rbScrollDraw>{{hobbie}}</span></li>
            </ul>
          </div>
        </rb-detail-block>
      </div>
      <div class="details-right">
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>APPLICATIONS</h3>
          <ul class="details-group-list">
            <ng-container *ngFor="let application of resume.applications">
              <ng-container *ngTemplateOutlet="listItem, context: { $implicit: application }"></ng-container>
            </ng-container>
          </ul>
        </rb-detail-block>
        <rb-detail-block>
          <h3 class="detail-title" rbScrollDraw>LANGUAGES & <br />TECHNOLOGIES</h3>
          <ul class="details-group-list">
            <ng-container *ngFor="let technology of resume.languagesAndTechnologies">
              <ng-container *ngTemplateOutlet="listItem, context: { $implicit: technology }"></ng-container>
            </ng-container>
          </ul>
        </rb-detail-block>
        <ng-template #listItem let-knowledge>
          <li [ngClass]="{'outlook': knowledge.name=='Outlook', 'photoshop': knowledge.name=='Photoshop', 'blender': knowledge.name=='Blender', 'ms-code': knowledge.name=='Ms Visual Studio Code', 'html': knowledge.name=='HTML'}"  rbScrollDraw>
            <span>{{knowledge.name}}</span>
            <ul class="details-group-list" *ngIf="knowledge.details">
              <ng-container *ngFor="let detail of knowledge.details">
                <ng-container *ngTemplateOutlet="listItem, context: { $implicit: detail }"></ng-container>
              </ng-container>
            </ul>
            <div class="level-container" *ngIf="knowledge.level">
              <rb-markable [marked]="knowledge.level == 'basic' || knowledge.level == 'advanced' || knowledge.level == 'expert'"></rb-markable>
              <rb-markable [marked]="knowledge.level == 'advanced' || knowledge.level == 'expert'"></rb-markable>
              <rb-markable [marked]="knowledge.level == 'expert'"></rb-markable>
            </div>
          </li>
        </ng-template>
      </div>
    </div>
    <a [attr.href]="resume.download" target="_blank" rbButton rbScrollDraw class="download-resume">Download</a>
  </div>
  <div class="left-rect" rbScrollDraw [from]="{'transform': 'translate(-100%, 0%)'}" [to]="{'transform': 'translate(0%, 0%)'}"></div>
  <div class="right-circle" rbScrollDraw rbParallax></div>
</div>
<div class="bottom-left-circle" rbScrollDraw [from]="{'transform': 'translate(0%, 100%)'}" [to]="{'transform': 'translate(0%, 0%)'}" [proportion]="1.1"></div>
<div class="bottom-center-circle" rbScrollDraw [from]="{'transform': 'translate(0%, 100%)'}" [to]="{'transform': 'translate(0%, 0%)'}" [proportion]="1.1"></div>
<div class="bottom-rect" rbScrollDraw [from]="{'transform': 'translate(0%, 100%)'}" [to]="{'transform': 'translate(0%, 0%)'}" [proportion]="1.1"></div>
