@import './../../../scss/_global.scss';

section[rbResume]{
  display: block;
  padding-bottom: rem(300);
  overflow: hidden;
  position: relative;
  .experience-section{
    padding-top: rem(120);
    position: relative;
    z-index: 5;
    overflow: hidden;
    .center-container{
      z-index: 5;
      padding-left: rem(75);
      padding-right: rem(75);
      .experience-section-title{
        @extend %title;
      }
      .experience-container{
        padding-bottom: rem(200);
        box-sizing: border-box;
        .experience{
          margin-top: rem(200);
          display: flex;
          box-sizing: border-box;
          padding-left: rem(35);
          padding-right: rem(35);
          position: relative;
          margin-bottom: rem(80);
          .experience-spacer{
            width: 50%;
            position: relative;
            .experience-title{
              display: block;
              font-size: rem(100);
              line-height: rem(100);
              letter-spacing: rem(30.0);
              text-transform: uppercase;
              transform-origin: top left;
              transform: rotate(-90deg) translate(-100%, 0%);
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          .experience-content{
            width: 50%;
          }
          .experience-history-line{
            $size: 4;
            width: rem($size);
            background-color: $dark-gray;
            position: absolute;
            top: rem(25);
            bottom: 0;
            left: calc(50% - #{rem(calc($size/2))});
          }
        }
        .show-all{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .top-rect{
      position: absolute;
      top: rem(582);
      right: rem(-195);
      width: rem(282);
      height: rem(734);
      background-color: $deap-sea;
      z-index: 1;
    }
    .right-rect{
      position: absolute;
      bottom: rem(245);
      right: rem(-180);
      width: rem(421);
      height: rem(169);
      background-color: $deap-sea;
      will-change: transform;
      z-index: 1;
    }
    .left-rect{
      position: absolute;
      bottom: 0;
      left: rem(-16);
      width: rem(170);
      height: rem(315);
      will-change: transform;
      background-color: $deap-sea;
      z-index: 1;
    }
    .circle{
      $size: 465;
      position: absolute;
      top: rem(1500);
      left: rem(-210);
      width: rem(2*$size);
      height: rem($size);
      border-bottom-left-radius: rem(2*$size);
      border-bottom-right-radius: rem(2*$size);
      background-color: $clear-sky;
      z-index: 1;
    }
  }
  .details-section{
    position: relative;
    z-index: 5;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: rem(100);
    .center-container{
      z-index: 5;
      padding-left: rem(75);
      padding-right: rem(75);
      .details-container{
        padding-top: rem(120);
        padding-left: rem(35);
        padding-right: rem(35);
        padding-bottom: rem(80);
        box-sizing: border-box;
        display: flex;
        .details-left{
          width: 50%;
          .detail-group{
            margin-bottom: rem(50);
            padding-right: rem(200);
            box-sizing: border-box;
            &:last-child{
              margin-bottom: 0;
            }
            .details-group-list{
              list-style-type: none;
              display: block;
              margin-bottom: rem(10);
              &:last-child{
                margin-bottom: 0;
              }
              .default-line, .bold-line, .minor-line{
                display: block;
                font-size: rem(24);
                letter-spacing: rem(1.2);
                margin-bottom: rem(15);
                position: relative;
                > span{
                  position: relative;
                  z-index: 5;
                }
                &.full-stack:before, &.bsc:before,  &.clean-code:before,  &.grid:before{
                  content: '';
                  display: block;
                  background-color: $clear-sky;
                  position: absolute;
                  z-index: 1;
                }
                &.full-stack:before{
                  width: rem(352);
                  height: rem(40);
                  top: rem(-16);
                  left: rem(-20);
                }
                &.bsc:before{
                  width: rem(587);
                  height: rem(54);
                  top: rem(-3);
                  left: rem(22);
                }
                &.clean-code:before{
                  width: rem(186);
                  height: rem(26);
                  top: rem(-3);
                  left: rem(3);
                }
                &.grid:before{
                  width: rem(457);
                  height: rem(65);
                  top: rem(-22);
                  left: rem(-50);
                }
                &:last-child{
                  margin-bottom: 0;
                }
              }
              .bold-line{
                font-weight: 600;
              }
              .minor-line{
                font-size: rem(18);
                margin-bottom: rem(2.5);
              }
            }
          }
        }
        .details-right{
          width: 50%;
          rb-detail-block:first-child >.details-group-list >li:first-child li:first-child .level-container{
            rb-markable:after{
              content: 'Advanced';
              display: block;
              position: absolute;
              top: rem(-300);
              left: 50%;
              transform: translate(-50%, 0%);
              font-weight: 600;
              font-size: rem(24);
              letter-spacing: rem(1.2);
              color: $dark-gray;
            }
            rb-markable:first-child:after{
              content: 'Basic';
            }
            rb-markable:last-child:after{
              content: 'Expert';
            }
          }
          .details-group-list{
            list-style-type: none;
            display: block;
            li{
              display: block;
              font-size: rem(24);
              letter-spacing: rem(1.2);
              margin-bottom: rem(25);
              font-weight: 600;
              position: relative;
              will-change: opacity;
              >span{
                z-index: 5;
                position: relative;
              }
              &.outlook:before, &.photoshop:before, &.blender:before, &.ms-code:before, &.html:before{
                content: '';
                display: block;
                background-color: $clear-sky;
                position: absolute;
                z-index: 1;
              }
              &.outlook:before{
                width: rem(128);
                height: rem(24);
                top: rem(-0.1);
                left: rem(12);
              }
              &.photoshop:before{
                width: rem(172);
                height: rem(28);
                top: rem(2);
                left: rem(55);
              }
              &.blender:before{
                width: rem(110);
                height: rem(22);
                top: rem(0);
                left: rem(-15);
              }
              &.ms-code:before{
                width: rem(320);
                height: rem(30);
                top: rem(0);
                left: rem(0);
              }
              &.html:before{
                width: rem(241);
                height: rem(1585);
                top: rem(12);
                left: rem(-156);
              }
              .level-container{
                width: rem(390);
                height: rem(16);
                position: absolute;
                top: calc(50% - #{rem(8)});
                right: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              &:last-child{
                margin-bottom: 0;
              }
              .details-group-list{
                > li {
                  display: block;
                  font-size: rem(24);
                  letter-spacing: rem(1.2);
                  margin-bottom: rem(20);
                  will-change: opacity;
                  >span{
                    box-sizing: border-box;
                    padding-left: rem(45);
                    display: block;
                    height: 100%;
                    background-image: url(/assets/images/landing/dot.svg);
                    background-size: rem(10) rem(10);
                    background-position: left rem(20) center;
                    background-repeat: no-repeat;
                  }
                  &:first-child{
                    margin-top: rem(25);
                  }
                }
              }
            }
          }
        }
      }
      .download-resume{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: $dark-gray;
        width: rem(270);
      }
    }
    .left-rect{
      width: rem(282);
      height: rem(735);
      position: absolute;
      left: rem(-210);
      top: rem(1300);
      z-index: 1;
      will-change: transform;
      background-color: $deap-sea;
    }
    .right-circle{
      $size: 312;
      position: absolute;
      height: rem($size);
      width: rem(2*$size);
      bottom: rem(3252);
      right: rem(-186);
      background-color: $clear-sky;
      border-top-left-radius: rem(2*$size);
      border-top-right-radius: rem(2*$size);
      z-index: 1;
    }
  }
  .bottom-left-circle{
    $size: 308;
    position: absolute;
    height: rem(2*$size);
    width: rem($size);
    bottom: rem(-138);
    left: rem(127);
    background-color: $the-orange;
    border-top-left-radius: rem(2*$size);
    border-bottom-left-radius: rem(2*$size);
    z-index: 1;
  }
  .bottom-center-circle{
    $size: 348;
    position: absolute;
    height: rem($size);
    width: rem(2*$size);
    bottom: rem(-77);
    right: rem(306);
    background-color: $clear-sky;
    border-top-left-radius: rem(2*$size);
    border-top-right-radius: rem(2*$size);
    z-index: 1;
  }
  .bottom-rect{
    width: rem(180);
    height: rem(608);
    position: absolute;
    right: rem(-10);
    bottom: rem(-77);
    will-change: height;
    z-index: 1;
    background-color: $deap-sea;
  }
}

@import './resume.component.mobile.scss';