@import './../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait){
    section[rbResume]{
      padding-bottom: 20vh;
      .experience-section{
        .center-container{
          .experience-section-title{
            padding-bottom: 5vh;
            span{
              display: none;
            }
          }
          .experience-container .experience{
            .experience-spacer{
              display: none;
            }
            .experience-content{
              width: 100%;
            }
            .experience-history-line{
              display: none;
            }
          }
        }
        .right-rect{
          position: absolute;
          bottom: 15vh;
          right: -10vh;
          width: calc(10vh + #{rem(35)});
          height: 12vh;
        }
        .circle{
          $size: ($mobile-view-constant - 0.5)*465;
          position: absolute;
          top: 115vh;
          left: rem($mobile-view-constant*-210);
          width: rem(2*$size);
          height: rem($size);
          border-bottom-left-radius: rem(2*$size);
          border-bottom-right-radius: rem(2*$size);
        }
      }
      .details-section{
        padding-top: 10vh;
        .center-container{
          .details-container{
            flex-direction: column-reverse;
            .details-left{
              width: 100%;
              padding-top: 7.5vh;
              .detail-group{
                margin-bottom: 5vh;
                padding-right: 0;
                .details-group-list{
                  margin-bottom: 1vh;
                  .default-line, .bold-line, .minor-line{
                    font-size: rem(($mobile-view-constant+1)*24);
                    letter-spacing: rem(($mobile-view-constant+1)*1.2);
                    margin-bottom: 1.5vh;
                    &.full-stack:before{
                      width: ($mobile-view-constant - 1)*35.2vw;
                      height: 4.0vh;
                      top: rem(-16);
                      left: rem(-20);
                    }
                    &.bsc:before{
                      width: ($mobile-view-constant - 1)*48.7vw;
                      height: 5.4vh;
                      top: rem(-3);
                      left: rem(22);
                    }
                    &.clean-code:before{
                      width: ($mobile-view-constant - 1)*18.6vw;
                      height: 2.6vh;
                      top: rem(-3);
                      left: rem(3);
                    }
                    &.grid:before{
                      width: ($mobile-view-constant - 1)*45.7vw;
                      height: 6.5vh;
                      top: rem(-22);
                      left: rem(-50);
                    }
                  }
                }
              }
            }
            .details-right{
              width: 100%;
              rb-detail-block:first-child >.details-group-list >li:first-child li:first-child .level-container{
                rb-markable:after{
                  font-size: rem(($mobile-view-constant+1)*24);
                  letter-spacing: rem(($mobile-view-constant+1)*1.2);
                  top: -28vh;
                }
              }
              .details-group-list li{
                font-size: rem(($mobile-view-constant+1)*24);
                letter-spacing: rem(($mobile-view-constant+1)*1.2);
                margin-bottom: 8vh;
                &.outlook:before{
                  width: ($mobile-view-constant - 1)*12.8vw;
                  height: 2.4vh;
                  top: rem(-0.1);
                  left: rem(12);
                }
                &.photoshop:before{
                  width: ($mobile-view-constant - 1)*17.2vw;
                  height: 2.8vh;
                  top: rem(2);
                  left: rem(55);
                }
                &.blender:before{
                  width: ($mobile-view-constant - 1)*21.1vw;
                  height: 2.2vh;
                  top: rem(0);
                  left: rem(-15);
                }
                &.ms-code:before{
                  width: ($mobile-view-constant - 1)*32.0vw;
                  height: 3.0vh;
                  top: rem(0);
                  left: rem(0);
                }
                &.html:before{
                  width: 24.1vw;
                  height: ($mobile-view-constant - 1)*158.5vh;
                  top: rem(12);
                  left: rem(-156);
                }
                .level-container{
                  width: 100%;
                  top: calc(100% + 3vh);
                  padding-left: rem(45);
                  padding-right: rem(45);
                  box-sizing: border-box;
                }
                .details-group-list > li{
                  display: block;
                  font-size: rem(($mobile-view-constant+1)*24);
                  letter-spacing: rem(($mobile-view-constant+1)*1.2);
                  margin-bottom: 8vh;
                  >span{
                    background-image: none;
                  }
                }
              }
            }
          }
          .download-resume{
            color: $dark-gray;
            margin-top: 5vh;
            transform: translate(-100%, 0%);
          }
        }
        .left-rect{
          top: 155vh;
        }
        .right-circle{
          $size: $mobile-view-constant*312;
          height: rem($size);
          width: rem(2*$size);
          bottom: 300vh;
          right: rem($mobile-view-constant*-186);
          border-top-left-radius: rem(2*$size);
          border-top-right-radius: rem(2*$size);
        }
      }
      .bottom-left-circle{
        $size: 2*308;
        height: rem(2*$size);
        width: rem($size);
        bottom: rem(-138);
        left: rem($mobile-view-constant*-127);
        border-top-left-radius: rem(2*$size);
        border-bottom-left-radius: rem(2*$size);
      }
      .bottom-center-circle{
        $size: ($mobile-view-constant)*348;
        height: rem($size);
        width: rem(2*$size);
        bottom: rem($mobile-view-constant*$mobile-view-constant*-77);
        right: rem($mobile-view-constant*306);
        border-top-left-radius: rem(2*$size);
        border-top-right-radius: rem(2*$size);
      }
      .bottom-rect{
        width: rem($mobile-view-constant*180);
        height: rem(608);
        position: absolute;
        right: rem(-10);
        bottom: rem(-77);
        will-change: height;
        z-index: 1;
        background-color: $deap-sea;
      }
    }
  }
}