@import './../../../scss/_global.scss';

rb-markable{
  display: block;
  position: relative;
  .display{
    box-sizing: border-box;
    border: rem(4) solid $dark-gray;
    height: rem(12);
    width: rem(100);
    z-index: 5;
    position: relative;
  }
  &.marked{
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: rem(100);
      height: rem(12);
      top: rem(-6);
      left: rem(-9);
      background-color: $the-orange;
      z-index: 1;
    }
  }
}

@import './markable.component.mobile.scss';