@import './../../../scss/_global.scss';

@include media-max($mobile-view){
  @media (orientation: portrait){
    rb-markable{
      .display{
        border: rem($mobile-view-constant*$mobile-view-constant*4) solid $dark-gray;
        height: 2vh;
        width: 15vw;
      }
      &.marked{
        &:before{
          height: 2vh;
          width: 15vw;
          top: -0.75vh;
          left: -2.5vw;
        }
      }
    }
  }
}